@using organikBahce.WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yap";
}
<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="~/Content/assets/images/banner-blog.jpg" alt="Banner-header">
        <div class="text">
            <h3>@ViewBag.Title</h3>
            <p><a href="/" title="Home">Anasayfa</a><i class="fa fa-caret-right"></i>@ViewBag.Title</p>
        </div>
    </div>
</div>
<div class="container container-ver2">
    <div class="page-login box space-50">
        <div class="row">
            <div class="col-md-12 sign-in space-30">
                <h3>sign in</h3>
                <p>Hello, welcome to your account.</p>
                <div class="social space-30 box">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    @*<a class="float-left" href="#" title="facebook">
                        <i class="fa fa-facebook"></i>
                        SIGN IN WITH FACEBOOK
                    </a>
                    <a class="float-right" href="#" title="TWITTER">
                        <i class="fa fa-twitter"></i>
                        SIGN IN WITH TWITTER
                    </a>*@
                </div>
                <!-- End social -->

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="group box space-20">

                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="group box">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="remember">
                        @Html.ActionLink("Şifremi Unuttum", "ForgotPassword", null, new { @class = "help", @title = "help ?" })
                    </div>
                    <button type="submit" class="link-v1 rt">Giriş</button>
                }
                <!-- End form -->
            </div>
            <!-- End col-md-6 -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
} 