@model organikBahce.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<div class="container container-ver2">
    <div class="page-login box space-50">
        <div class="row">
            <div class="col-md-12 sign-in space-30">
                <div class="register box space-50">
                    <h3>Create A New Account</h3>
                    <p>Create your own Rimbus account.</p>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="demo" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="group box space-20">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="group box space-20">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="group box space-20">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            <input id="check1" type="checkbox" name="check" value="check1">
                            <label class="label-check" for="check1">Kampanyalardan haberdar olmak istiyorum</label>
                            <input id="check2" type="checkbox" name="check" value="check2">
                            <label class="label-check" for="check2">Üyelik sözleşmesini kabul ediyorum.</label>
                            <input id="check3" type="checkbox" name="check" value="check3" >
                            <label class="label-check" for="check3">Kişisel verilerin korunması hakkında bilgilendirmeyi okudum onaylıyorum</label>
                        </div>
                        <button type="submit" class="link-v1 rt">Üye Ol</button>
                    }
                </div>
                <!-- End register -->
                <div class="sigg-to-day box">
                    <h3>SIGN UP TODAY</h3>
                    <form class="form-horizontal" method="POST">
                        <div class="checkbox">
                            <input id="check1" type="checkbox" name="check" value="check1">
                            <label class="label-check" for="check1">Speed your way through the checkout.</label>
                            <input id="check2" type="checkbox" name="check" value="check2">
                            <label class="label-check" for="check2">Track your orders easily.</label>
                            <input id="check3" type="checkbox" name="check" value="check3">
                            <label class="label-check" for="check3">Keep a record of all purchases.</label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End col-md-6 -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        
        $("#demo").validate({
            rules: {
                check2: {
                    required: true
                },
                check3: {
                    required: true
                }
            }
        });
    </script>
} 